# -- SUPABASE API --
SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=xx_xxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# -- OPENROUTER API --
OPENROUTER_API_KEY=sk-or-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# -- GITHUB API --
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# -- SERVER VARS --
PORT=xxxx
BASE_URL=http://localhost:xxxx